<!-- Start with the step 09 code. explain what list-group, list-group-item, item-title etc CSS classes do. Play a bit
Then add class="row" and the top and show what happens. 
Next class="col-md-offset-1"  --- leaves a 1 col space to the left. Talk about the 12 col bootstrap grid layout. Then add col-md-4
Remove the ITEM_DESC span...too much detail in master view
Next look at the final product and add some additional details to the master view such as 

Next add the gravatar line and show how ugly it looks by default. Then add the bootstrap class row-picture to the div
It appears as a square. Then apply the circle class the img tag. It appears as a circle ( this was all bootstrap!)

Edit the ng-repeat tag and add the row-content and list-group-item-heading class

Note: 
if there is a gap under the navbar, its because of the navbar margin_bottom property. Set that to 0px in css
If the color of price etc is NOT BLACK, add css for anchor tag 
 -->


<div class="row">
	
	
	<div class="col-md-offset-1 col-md-4">

		<div class="list-group">

			<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</div>
			      		<input type="text" ng-model="searchItem" class="form-control" placeholder="Search">
			    	</div>	
			</div>

		
				<ul ng-repeat="item in items| filter:searchItem  | orderBy:'ITEM_POST_DATE':true" "> 
				
					<li class="list-group-item">
				        <div class="row-picture">
				            <img class="circle" ng-src="{{item.USER_GRAVATAR}}">
				        </div>
				        <div class="row-content">
				            <h4 class="list-group-item-heading">{{item.ITEM_TITLE | limitTo:25}}{{item.ITEM_TITLE.length>25? "...": ""}}</h4>
				            <span class="list-group-item-text">
				            	<span am-time-ago="item.ITEM_POST_DATE"></span>
				            </span>
				            	            
				        </div>
				        <div class="payment">
				        	<div>${{item.ITEM_PRICE}}</div>
				        	<span class="label status {{item.ITEM_STATUS}}">{{item.ITEM_STATUS}}</span>		        	
				        </div>
				    </li>		    	
			    	<div class="list-group-separator"></div>
		    	</ul>
		</div>

	</div>
</div>

